:local {
  .input-wrap {
    position: relative;

    button {
      background: transparent;
      border: 0;
      position: absolute;
      right: 20px;
      top: 6px;
    }
  }

  .password-error {
    background-position: right calc(2.375em + 0.1875rem) center !important;
  }
}
