:local {
    .forgot-password-button {
        padding: .375rem 0;
        font-size: 12px;
    }

    .login-button {
        width: 100%;
    }

    .error-message {
        font-size: 74%;
        color: #dc3545;
    }
}