:local {
  .backdrop {
    background-color: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;

    &-show {
      display: block;
    }
  }
}
