:local {
    .header {
        position: relative;
        height: 100px;
        background: url('./header-bg.jpg') center no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        input {
            color: #FFF;
            font-size: 40px;
            width: 80%;
            background-color: transparent;
            text-align: center;
            border: none;
        }

        &__buttons-wrap {
            position: absolute;
            right: 20px;

            button,
            button:hover,
            button:active,
            button:focus {
                background-color: transparent!important;
                border: 0;
                box-shadow: 0 0 0 0!important;
                padding: 0;
                outline: none;
                color: #FFF;
            }

            button {

                &:hover {
                    color: #ccc;
                }

                &:after {
                    display: none;
                }
            }
        }
    }

    .edit-profile:hover {
        text-decoration: none;
    }
}