:local {
  .header {
    align-items: center;
    background: url('./header-bg.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    position: relative;

    input {
      background-color: transparent;
      border: 0;
      color: #fff;
      font-size: 40px;
      text-align: center;
      width: 80%;
    }

    &__buttons-wrap {
      position: absolute;
      right: 20px;

      button,
      button:hover,
      button:active,
      button:focus {
        background-color: transparent !important;
        border: 0;
        box-shadow: 0 0 0 0 !important;
        color: #fff;
        outline: none;
        padding: 0;
      }

      button {
        &:hover {
          color: #ccc;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .edit-profile:hover {
    text-decoration: none;
  }
}
