:local {
    .schedule {
        height: calc(100% - 100px);
        background: url(./img/bg.jpg) center no-repeat;
        background-size: cover;
        display: flex;
    }

    .screenwrap {
        width: 50%;
        height: 495px;
        margin: auto;
        background-color: rgba(7, 8, 12, .9);
        animation: screen-in 1.5s ease-in-out;

        @media (max-width: 1240px) {
            width: 700px;
            animation: screen-in-700px 1.5s ease-in-out;
        }

        a {
            color: #212529;
            font-size: 18px;
            margin-left: 5px;
            letter-spacing: 0.2px;
            border-bottom: 1px solid #212529;

            &:hover {
                text-decoration: none;
                border: 0;
            }
        }

        &__link-hidden {
            opacity: 0;
        }

        &__link-visible {
            opacity: 1;
            animation: fade-in .3s ease-in-out;
        }
    }

    .screen {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        font-size: 20px;
        color: #FFF;
        padding: 20px 0;
        opacity: 0;

        &-enter {
            opacity: 1;
            animation: fade-in 1s ease-in-out;
        }

        &-exit {
            opacity: 0;
            animation: fade-in 1s ease-in-out reverse;
        }

        &__single-screen {
            justify-content: center;
        }

        &__heading,
        &__schedule-wrap {
            display: flex;
            width: 100%;
        }

        &__heading {
            text-align: center;
            font-weight: 600;
            margin-bottom: 10px;

            > div {
                width: 35%;
            }

            > div:nth-child(2) {
                width: 30%;
            }
        }

        &__schedule-wrap {
            flex-direction: column;
        }
    }

    .mynode {

        &_entering {
            color: red;
        }

        &_entered {
            color: green;
        }

        &_exiting {
            color: blue;
        }
    }
}

@keyframes screen-in {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes screen-in-700px {
    0% {
        width: 0;
    }

    100% {
        width: 700px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}