:local {
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .heading h5,
    .edit-info {
        color: #808080;
    }

    .edit-info {
        font-size: 14px;
    }

    .preloader {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
    }
}