:local {
    .constructor {
        max-width: 1620px;
        padding: 20px;
        margin: 0 auto;

        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                color: #808080;
            }
        }
    }
}