:local {
    .table-row {

        select {
            height: 28px;
            font-size: 14px;
            padding: 0 5px;
        }

        span {
            font-weight: 600;
            margin: 0 5px;
        }

        button {
            width: 55px;
            height: 28px;
            border-radius: .25rem;
            border: 0;
            background-color: #ff6666;
            margin: 0 5px;
            transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

            &:hover {
                background-color: #d45555;
            }

            &:last-child {
                background-color: #08d827;

                &:hover {
                    background-color: #08b121;
                }
            }

            svg {
                width: 17px;
                color: #FFF;
            }
        }

        &-clickable {

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.075);
            }
        }

        &__index {
            width: 10%;
        }

        &__country {
            width: 30%;
        }

        &__gate {
            width: 10%;
        }

        &__time {
            width: 30%;

            div {
                display: inline;

                &:last-child {
                    float: right;
                    margin: 0 15px;
                }

                select,
                span,
                button {
                    display: inline-block;
                }

                select {
                    width: 20%;
                    min-width: 50px;
                }
            }
        }
    }
}