:local {
  .table-row {
    select {
      font-size: 14px;
      height: 28px;
      padding: 0 5px;
    }

    span {
      font-weight: 600;
      margin: 0 5px;
    }

    button {
      background-color: #f66;
      border: 0;
      border-radius: 0.25rem;
      height: 28px;
      margin: 0 5px;
      transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      width: 55px;

      &:hover {
        background-color: #d45555;
      }

      &:last-child {
        background-color: #08d827;

        &:hover {
          background-color: #08b121;
        }
      }

      svg {
        color: #fff;
        width: 17px;
      }
    }

    &-clickable {
      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
        cursor: pointer;
      }
    }

    &__index {
      width: 10%;
    }

    &__country {
      width: 30%;
    }

    &__gate {
      width: 10%;
    }

    &__time {
      width: 30%;

      div {
        display: inline;

        &:last-child {
          float: right;
          margin: 0 15px;
        }

        select,
        span,
        button {
          display: inline-block;
        }

        select {
          min-width: 50px;
          width: 20%;
        }
      }
    }
  }
}
